.items-playlist {
  width: 67.5vw;
  margin-bottom: 80px;
  background-color: $light-gray;
  display: flex;
  border-radius: 2px;
}
.items-container {
  display: flex;
  flex-direction: column;
  background-color: $beige;
  width: 100%;
  border-radius: 2px;
  padding: 48px;
  position: relative;
}
#test {
  height: -webkit-fill-available;
}

.list-container {
  height: 100%;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  max-height: 500px;

  .items-list {
    overflow-y: scroll;
    height: 100%;
    border: 1.5px solid black;
    border-radius: 2px;
    background-color: $white;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background: $black;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $magenta;
    }

    .item-row {
      display: flex;
      font-size: 1.3rem;
      padding: 16px;
      border-bottom: solid 1.5px lightgray;

      .list-item-name {
        flex-grow: 1;
        margin-left: 8px;
      }

      .item-bringer {
        display: flex;
        justify-content: flex-end;
      }

      .item-delete-button {
        &:hover {
          text-decoration: none;
        }
      }

      .bring-button {
        background-color: $magenta;
        color: $white;
        border: 1.5px solid black;
        border-radius: 2px;
        font-size: 1rem;
        padding: 0 8px;
        height: 100%;

        &:hover {
          text-decoration: none;
          background-color: black;
          color: $white;
        }
      }
    }
  }

  .items-form {
    margin-top: 16px;
    .add-item {
      display: flex;
      border: 1.5px solid black;
      border-radius: 2px;
      background-color: $white;
      .item_name {
        margin-bottom: 0;
        width: 100%;
        border-radius: 0;
        font-size: 1.3rem;
        #item_name {
          border: none;
          border-radius: 0;
          font-size: 1.3rem;
        }
      }

      .add-button {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: fit-content;
        padding: 0 12px;

        &:focus {
          outline: 0;
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 1.8rem;
          color: $black;
          &:hover {
            text-decoration: none;
            color: $magenta;
          }
        }
      }
    }
  }
}

.playlist-container {
  margin-left: 48px;
  background-color: #e8ddb5;
  position: relative;
  padding: 48px;
  display: flex;
  align-items: center;

  iframe {
    border-radius: 2px;
  }

  .playlist {
    width: fit-content;

    .spotify-button {
      background-color: $magenta;
      padding: 16px;
      border: 1.5px solid black;
      border-radius: 2px;
      color: $white;

        &:hover {
          text-decoration: none;
          background-color: black;
        }
      

    }

    .no-playlist {
      width: max-content;
      font-size: 1.2rem;
      padding: 8px;
      a {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

