.avatar-square {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
    margin-bottom: 20px;
  }
  #profile-page {
   width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    }
  #profile-container {
      border: 3px;
      display: flex;
       }
  #avatar-rectangle {
    border: 3px solid black;
  
    img {
      height: 70vh;
      width: 30vw;
      object-fit: cover;
    }
  }

  #profile-text {
      padding-left:30px;
      display:flex;
      flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;   
  }
  
  ul {
    list-style: none;
    padding: 0;
   }
   li{
    display: inline;
    margin: 0px 10px;
    font-size: 30px;
   }
   .button-edit {
    background-color:#AB99FB;
    width: 33%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-decoration:none;
    padding: 10px 20px 10px 20px;
    border: 1.5px solid black;
    border-radius:3px;
    text-decoration: none;
     &:hover {
      text-decoration: none;
      background-color:#DD1155;
      color: white;
    }
}

p:hover #socials-fb, #socials-in, #socials-sp, #socials-ln, #socials-tw { transition: all .2s ease-in-out; }

#socials-fb:hover {
    color: #3B5998;
    transform: scale(1.2);
  }
  #socials-tw:hover {
    color: #3d98a9;
    transform: scale(1.2);
  }
  #socials-in:hover {
    color: #9a55a3;
    transform: scale(1.2);
  }
  #socials-sp:hover {
    color: #65983b;
    transform: scale(1.2);
  }
  #socials-ln:hover {
    color: #0a66c2;
    transform: scale(1.2);
  }

  #no-picture {
    height: 500px;
    width: 350px;;
    border-radius: 2px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    
  }