.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 80px;

  .event-details {
    width: 75%;
    margin: 80px;
    background-color: $beige;
    padding: 48px;
    position: relative;
    display: flex;
    border-radius: 2px;

    .invitee-status-accepted,
      .invitee-status-pending,
      .invitee-status-declined {
        font-size: 1.5rem;
        color: $white;
        padding: 6px 8px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: solid 1.5px black;
        position: absolute;
        top: -24px;
        right: -24px;
      }

      .invitee-status-accepted {
        background-color: $green;
      }

      // .invitee-status-pending {
      //   background-color: $blue;
      // }

      .invitee-status-declined {
        background-color: $magenta;
      }


    .event-info {
      width: 80%;

      #event-title {
        font-size: 3rem;
      }

      #event-time-location {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.4);
      }

      #event-description {
        font-size: 1.3rem;
        padding-right: 48px;
        text-align: justify;
        white-space: pre-wrap;
      }
    }

    .event-host {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;

      .host-title {
        font-size: 3rem;
      }

      .host-avatar {
        width: 250px;
        height: 320px;
        background-color: $white;
        border: solid 1.5px black;
        border-radius: 2px;
        background-size: cover;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8rem;
        margin: 0px auto;
      }

      .host-info {
        width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        align-items: center;

        .list-button {
          width: fit-content;
        }
      }

      .host-name {
        font-size: 1.5rem;
        width: fit-content;
        margin: 16px 0 24px;
        a {
          color: $black;
          &:hover {
            text-decoration: none;
            color: $magenta;
          }
        }
      }
    }

    #event-edit-delete {
      position: absolute;
      top: 16px;
      right: 16px;
      a {
        color: black;
        padding: 0 5px;
        &:hover {
          text-decoration: none;
          color: $magenta;
        }
      }
    }
  }

  .invite-options {
    background-color: $beige;
    padding: 48px;
    width: 67.5vw;
    display: flex;
    border-radius: 2px;
    margin-bottom: 80px;
    position: relative;
    justify-content: center;

    .invitation-text {
      width: 50%;
      font-size: 2rem;
      align-self: center;
    }

    .invite-choices {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 48px;
    }

    .accept-invitation,
    .decline-invitation {
      width: max-content;

      .accepting,
      .declining {
        width: 100%;
        height: 100%;
        color: $white;
        font-size: 1.5rem;
        border: 1.5px black solid;
        border-radius: 2px;
        padding: 8px;
      }

      .accepting,
      .declining {
        text-decoration: none;
        &:hover {
          background-color: black;
        }
      }

      .accepting {
        background-color: #57886c;
      }

      .declining {
        background-color: #dd1155;
      }
    }
  }

  .guestlist-map-section {
    display: flex;
    margin-bottom: 80px;
    width: 67.5vw;
  }

  .event-guestlist {
    background-color: $beige;
    border-radius: 2px;
    padding: 48px;
    display: flex;
    margin-right: 48px;
    width: fit-content;
    position: relative;

    .guest-list-header {
      font-size: 1.5rem;
      color: $white;
      background-color: black;
      padding: 8px;
      position: absolute;
      top: -24px;
      left: -24px;
    }

    .guest-list {
      background-color: $black;
      padding: 42px;
      display: flex;
      flex-direction: column;
      border-radius: 2px;

      .guest-cards {
        background-color: $white;
        border-radius: 2px;
        height: 400px;
        width: 300px;
        // temporary
        cursor: pointer;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }

      .slider-area {
        position: relative;
        background-color: $white;
        border-radius: 2px;
        height: 400px;
        width: 300px;
        // temporary
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 56px;

        .slide {
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          border-radius: 2px;
          .guest-name {
            display: flex;
            justify-content: center;
            margin: 12px 0;
            align-self: center;
            text-align: center;
            font-size: 1.5rem;
            color: #fffdf7;
            background-color: black;
            max-height: 42px;
            overflow: hidden;
            width: 300px;

            .host-logo {
              margin-left: 8px;

              img {
                height: 30px;
                width: 30px;
              }
            }

            a {
              color: $white;
              &:hover {
                text-decoration: none;
                color: $magenta;
              }
            }
          }
        }
      }
    }

    .guest-cards img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      height: 400px;
      width: 300px;
      border-radius: 2px;
    }

    .list-button {
      width: fit-content;
      align-self: center;
      font-weight: 400;
      padding: 8px 16px;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }

    .invite-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 300; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      justify-content: center;
      align-items: center;
    }

    /* Modal Content */
    .invite-content {
      background-color: $beige;
      margin: auto;
      padding: 40px;
      width: 50%;
      position: relative;
      border: solid 1.5px black;
      border-radius: 2px;

      .invite-form-container {
        display: flex;
        margin-bottom: 16px;
        align-items: center;

        .invite-email-input {
          border: 1.5px solid black;
          border-radius: 2px;
          background-color: $white;
          flex-grow: 3;

          .simple_form {
            display: flex;
          }

          .invitation_receiver_email {
            width: 90%;
            margin: 0;
          }

          .form-control {
            border: none;
            border-radius: 0;
            background-color: $white;
            &:focus {
              box-shadow: none;
            }
          }

          .invite-button {
            padding: 0;
            width: 5%;
            margin: 0 4px 0 auto;
            border: none;
            background-color: $white;
            outline: 0;
            &:hover {
              color: $magenta;
            }
          }
        }

        .invite-link-container {
          flex-grow: 1;
          text-align: center;

          .event-url-copy {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .invitations {
        overflow: scroll;
        height: 50vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: $beige;
        }

        &::-webkit-scrollbar-thumb {
          background: $black;
          border-radius: 2px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $magenta;
        }

        .invitee {
          display: flex;
          margin: 0 4px 8px 0;
          background: $white;
          padding: 8px 16px;
          border-radius: 2px;
          border: solid 1.5px;

          .receiver-avatar,
          .receiver-no-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 3.2rem;
            margin-right: 8px;
            background-size: cover;
            border: 1.5px solid black;
            border-radius: 2px;
            &:hover {
              border: 1.5px solid $magenta;
            }
          }

          .receiver-no-avatar {
            color: $black;
            &:hover {
              text-decoration: none;
              color: $magenta;
            }
          }

          .invitee-info {
            font-size: 1.2rem;
            flex-grow: 1;

            .receiver-fullname {
              a {
                color: $black;
                &:hover {
                  text-decoration: none;
                  color: $magenta;
                }
              }
            }

            .receiver-mail {
              font-size: 0.9rem;
              color: gray;
            }
          }

          .invitee-status {
            align-self: center;

            .invitation-status-pending,
            .invitation-status-accepted,
            .invitation-status-declined {
              border: 1.5px solid black;
              border-radius: 2px;
              width: 90px;
              display: flex;
              justify-content: center;
              font-size: 0.8rem;
              color: $black;
              font-weight: 700;
            }

            .invitation-status-pending {
              background-color: $blue;
            }

            .invitation-status-accepted {
              background-color: $green;
            }

            .invitation-status-declined {
              background-color: $violet;
            }
          }

          .invite-delete {
            display: flex;
            align-items: center;
            a {
              color: $black;
              align-self: center;
              margin-left: 12px;
            }
          }
        }
      }

      #close-button {
        background-color: $beige;
        border: none;
        position: absolute;
        top: 8px;
        right: 8px;
        outline: 0;
        i {
          font-size: 1.5rem;
          &:hover {
            color: $magenta;
          }
        }
      }
    }
  }

  .event-map {
    background-color: $beige;
    border-radius: 2px;
    padding: 48px;
    width: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    #map {
      width: 100%;
      height: 500px;
      border: solid 1.5px black;
      border-radius: 2px;

      &:focus {
        outline: 0;
      }

      .mapboxgl-canary {
        &:focus {
          outline: 0;
        }
      }

      .mapboxgl-canvas {
        &:focus {
          outline: 0;
        }
      }

      .mapboxgl-canvas-container {
        &:focus {
          outline: 0;
        }
        width: 100%;
        height: 100%;
      }

      .mapboxgl-control-container {
        &:focus {
          outline: 0;
        }
      }
    }

    .button-map {
      background-color: $magenta;
      color: $white;
      text-decoration: none;
      padding: 15px 20px 15px 20px;
      border: 1.5px solid black;
      border-radius: 2px;
      width: max-content;
      margin-top: auto;

      &:hover {
        text-decoration: none;
        background-color: black;
        color: $white;
      }
    }
  }

  .event-chat {
    background-color: $beige;
    padding: 48px;
    width: 75%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    position: relative;

    .chat-box {
      height: 500px;
      width: 100%;
      background-color: $white;
      border: 1.5px solid black;
      border-radius: 2px;
      margin-bottom: 32px;
      padding: 16px 8px 16px 16px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $white;
      }

      &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $magenta;
      }

      .message-container {
        display: flex;
        margin-bottom: 16px;
        width: fit-content;
        flex-direction: row;
        border-radius: 2px;

        .chat-avatar {
          width: 45px;
          height: 60px;
          border: 1.5px solid black;
          border-radius: 2px;
          background-size: cover;
          margin-right: 8px;
        }

        .message {
          border-left: 6px solid $violet;
          background: #ab99fb33;
          padding: 8px 10px 8px 8px;
          max-width: 35vw;
          border-radius: 2px;

          .message-username-time {
            display: flex;
            width: max-content;
            margin-top: 4px;

            .message-username {
              margin-right: 8px;
              font-size: 0.9rem;
              overflow: hidden;
              white-space: nowrap;
              max-width: 50%;

              a {
                color: black;
                &:hover {
                  text-decoration: none;
                  color: $magenta;
                }
              }
            }

            .message-time {
              font-size: 0.8rem;
              color: gray;
              align-self: center;
            }
          }

          .username-time-right {
            margin-left: auto;
          }

          .message-content {
            font-size: 1.1rem;
            word-wrap: break-word;
          }

          .message-content-user {
            text-align: right;
          }
        }

        .message-user {
          align-self: flex-end;
          border-right: 6px solid $green;
          border-left: none;
          background: #57886c33;
          padding: 8px 8px 8px 10px;
        }
      }

      .message-container-user {
        align-self: flex-end;
        flex-direction: column;
      }
    }
    .chat-form {
      display: flex;
      width: 100%;
      border: 1.5px solid black;
      border-radius: 2px;
      background-color: $white;
      form {
        display: flex;
        width: 100%;

        .form-group {
          width: 100%;
          margin: 0;
          &:focus {
            outline: 0;
          }
        }

        .form-control {
          background-color: $white;
          font-size: 1.3rem;
          width: 95%;
          border: none;
          border-radius: 0;
          padding: 8px 16px;
          &:focus {
            outline: 0;
            box-shadow: none;
          }
        }

        .send-button {
          background-color: $white;
          width: 5%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;

          &:focus {
            outline: 0;
          }

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.7rem;
            color: $black;
            &:hover {
              text-decoration: none;
              color: $magenta;
            }
          }
        }
      }
    }
  }
}
