.button-main {
    background-color:#AB99FB;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-decoration:none;
    padding: 15px 30px 15px 30px;
    border: 1.5px solid black;
    border-radius:3px;
    text-decoration: none;
     &:hover {
      text-decoration: none;
      background-color:#DD1155;
      color: white;
    }
}

.button-create {
    background-color:black;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-decoration:none;
    padding: 10px 30px 10px 30px;
    border: 1.5px solid black;
    border-radius:3px;
    text-decoration: none;
     &:hover {
      text-decoration: none;
      background-color:#DD1155;
      color: white;
    }
}

.button-invite {
    background-color:#DD1155;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-decoration:none;
    padding: 15px 30px 15px 30px;
    border: 1.5px solid black;
    border-radius:3px;
    text-decoration: none;
     &:hover {
      text-decoration: none;
      background-color:black;
      color: white;
    }
}