div.footer {
    height: 160px;
    background-color: red;
    width: 100%;
   }

#beige-bar {
    height: 20px;
    // display: flex;
    width: 100%;
    // align-items: center; 
    background-color: #E8DDB5;
     }

#purple-bar {
    display: flex;
    height: 100px;
    width: 100%;
align-items: center; 
justify-content: space-around;
text-align: center;
background-color: #AB99FB;;
}

#black-bar {
    height: 40px;
    width: 100%;
    color: white;
    padding-top: 9px;
    align-items: center;
    text-align: center;
    background-color: black;
}

ul {
list-style: none;
padding: 0;
}
li{
display: inline;
margin: 0px 10px;
font-size: 30px;
}     
#purple-bar { 
  p:hover{text-decoration: underline;}
}
#socials-icon { transition: all .2s ease-in-out; }

#socials-icon:hover {
    color:white;
    transform: scale(1.2);
  }
  