.navbar-home {
  position: absolute !important;
}

.navbar-hostit {
  position: fixed;
  float: left;
  top: 0;
  z-index: 3000;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;

  #sign-in-link,
  #sign-up-link {
    color: $white;
    align-self: center;
    font-size: 1.5rem;
    margin-left: auto;
    &:hover {
      text-decoration: none;
      color: $violet;
    }
  }

  #sign-up-link {
    margin-left: 12px;
  }

  .nav-line {
    height: 36px;
    background-color: black;
    transition: 0.4s;
  }

  .nav-elements {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    position: absolute;
    display: flex;
    align-items: center;

    .brand-logo {
      background-image: image-url("logo_host.it.svg");
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      width: 130px;
      transition: 0.4s;

      a {
        width: inherit;
        height: 100%;
        display: block;
      }
    }

    .nav-right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      i {
        color: $white;
        font-size: 1.5rem;
        align-self: center;
        margin-right: 10px;
        margin-top: 4px;
      }

      .avatar-card-container {
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
          .dropdown-hostit {
            display: flex;
          }
        }
        .avatar-card {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          transition: 0.4s;

          .no-avatar {
            font-size: 3rem;
          }
        }
        .dropdown-hostit {
          position: absolute;
          display: none;
          top: 110px;
          background-color: $white;
          border: 1.5px solid black;
          border-radius: 2px;
          flex-direction: column;
          padding: 16px 24px;
          font-size: 1.3rem;
          right: 5%;
          width: max-content;

          .dropdown-links {
            padding: 3px 5px;
            border-left: solid 3px $white;
            &:hover {
              background-color: $beige;
              border-left: 3px solid;
            }
          }

          i {
            color: $black;
            font-size: 1.2rem;
          }

          #user-name {
            border-bottom: solid 1px rgba(0, 0, 0, 0.15);
            padding-bottom: 4px;
            margin-bottom: 8px;
          }

          #log-out-link {
            border-top: solid 1px rgba(0, 0, 0, 0.15);
            padding-top: 4px;
            margin-top: 8px;
          }

          a {
            color: $black;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}